* {
    margin: 0;
    padding: 0;
}

ul {
    background-color: blue;
    text-align: center;
    position: fixed;
    width: 100%;
    /* position: sticky;
    top: 0; */
}

li {
    font-family: sans-serif;
    color: white;
    list-style: none;
    display: inline-block;
    padding: 10px;
    text-transform: capitalize;
}

h2 {
    text-align: center;
    /* padding: 20px 0; */
    padding-top: 5%;
}

h1 {
    /* text-align: center; */
    /* padding-top: 5%; */
    background-color: orange;
    /* position: relative; */
    /* left: 15px; */
    /* top: 20px; */

    /* position: absolute; */
    /* padding: 5px 0; */
    
    position: fixed;
    right: 20px;
    bottom: 20px;
}

p {
    padding: 10px;
}