@font-face {
    font-family: Custom-Font;
    src: url('./assets/fonts/IBM_Plex_Sans_Arabic,Noto_Nastaliq_Urdu,Raleway/Raleway/Raleway-VariableFont_wght.ttf');
}

body {
    background-color: blueviolet;
}

h1 {
    /* font-family: sans-serif; */
    /* font-family: serif; */
    /* font-family: monospace; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Times New Roman', serif; */
    /* font-size: 32px; */
    font-family: Custom-Font;
    font-weight: normal;
    color: white;

    text-transform: uppercase;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration: none;
    text-align: center;
    text-align: right;
    text-align: left;
}

.span {
    font-size: 16px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-style: normal;
    font-weight: bold;
    font-weight: normal;
}

span {
    font-size: 45px;
}

p {
    text-transform: capitalize;
    /* word-spacing: 10px; */
    letter-spacing: 5px;
}


a {
    text-decoration: none;
    text-decoration: line-through;
    text-decoration: overline;
}