* {
    margin: 0;
    padding: 0;
}

/* div {
    background-color: orange;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin-left: 10px;
    height: 100vh;
    width: 100%;
} */

/* p {
    background-color: white;
    height: 200px;
    width: 300px;
    padding: 5px 8px;
    text-align: center;
    margin-left: 15px;
    margin-top: 25px;
    font-size: 18px;
    margin: auto;
    margin: auto;
    margin-top: 10%;
    padding-top: 5%;
} */


ul {
    background-color: blueviolet;
    /* display: inline-block; */
    text-align: center;
}

li {
    font-family: sans-serif;
    text-transform: capitalize;
    list-style-type: none;
    /* display: inline; */
    display: inline-block;
    background-color: orange;
    border: 1px solid black;
    width: 15%;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
}

/* h1 {
    display: none;
    display: block;
} */


.about-tab {
    /* display: none; */
    /* visibility: hidden; */
    /* visibility: visible; */
}